<div class="container-fluid">
    <div class="card card-map">
        <div class="header">
            <h4 class="title">Features</h4>
        </div>
        <div class="content">

            <p>This service allows you to automate your cryptocurrency rates.</p>
            <p>At the top of the page you can see the latest values of the three most
                popular cryptocurrencies. Bellow that there is an interactive chart that
                allows you to view their rates weekly or monthly with or withour trendlines
                for given weeks.</p>
            <p><i>Note: if the trendline doesn't show for some particular weeks
                it means that the service couldn't find two or more major tops/bottoms.</i></p>
        </div>
    </div>
</div>
